<!DOCTYPE html>
<html>

<head>
    <title>RideTag Registration API 2.0</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<body>
    <h1>{{error.message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
</body>

</html>
