<!DOCTYPE html>
<html>

<head>
    <title>User Added | RideTag Dev </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
    <div id="head" class="container">
        <h2>Added User!</h2>
        <p><strong>First Name: </strong>{{user.first_name_input}}</p>
        <p><strong>Last Name: </strong>{{user.last_name_input}}</p>
        <p><strong>Email: </strong>{{user.email_input}}</p>
        <p><strong>Phone: </strong>{{user.phone_input}}</p>
        <p><strong>Password: </strong>{{user.password_input}}</p>
        <p><strong>City: </strong>{{user.city_input}}</p>
        <p><strong>Invite Code: </strong>{{user.invite_code_input}}</p>
        <a href="https://ridetagregistrationapi.herokuapp.com/"><button class="btn btn-primary">Create Another User!</button></a>
    </div>
</body>

</html>
